.header-wrapper {
    background-color: #fcf8f5;
    padding-bottom: 80px;
    /*background-image: url("img/background.gif");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/

}

.nav-logo {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 0;
    color: black;
}

.nav-logo:hover {
    text-decoration: none;
    color: black;
}

.nav-link {
    padding: 15px 30px;
    font-family: 'Kanit', sans-serif;
    color: #1d1b4c;
    font-size: 14px;
    font-weight: 400;
}

.nav-link:hover {
    text-shadow: 2px 2px #6fffce;
    color: #1d1b4c;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
}

.navbar-expand-lg {
    padding-top: 25px;
}

.navbar-toggler {
    background-color: transparent;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
    padding-right: 0;
}

.navbar-toggler:focus {
    outline: transparent;
}

.navbar-toggler-line {
    display: block;
    height: 2px;
    background-color: #6fffce;
    margin-bottom: 7px;
    width: 26px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.header-img {
    border-radius: 10px;
    padding: 0;
    margin-right: 15px;
}

.header-text {
    margin: 10px 0;
}

.header-text-main {
    font-family: 'Kanit', sans-serif;
    color: #1d1b4c;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.header-dots {
    position: absolute;
    bottom: -5%;
    left: 60%
}


@media only screen and (min-width: 320px) and (max-width: 991px) {
    .header-dots {
        display: none;
    }

    .header-text-main {
        font-size: 40px;
        /*font-weight: 700;*/
    }

    /*.collapse.navbar-collapse{*/
    /*padding-left: 0;*/
    /*}*/
    /*.expand-lg.navbar-nav.nav-link{*/
    /*padding-left: 0; !important;*/
    /*}*/
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-text-main {
        font-size: 30px;
    }

    /*.container{*/
    /*max-width: 95%;*/
    /*}*/

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 95%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 520px) {
    .header-text-main {
        display: none;
    }

}

/*-------------------------------common----------------------------------*/
.title {
    font-family: 'Kanit', sans-serif;
    color: #1d1b4c;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 100px 0 50px;
}

.text-main {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #1d1b4c;
    line-height: 1.3;
}

.text-common {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    color: #1d1b4c;
    line-height: 1.3;
}


.button {
    background-color: #6fffce;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    color: #1d1b4c;
    font-size: 14px;
    box-shadow: 0px 0px 26px 5px rgba(111, 255, 206, 0.52);
    width: 145px;
    padding: 15px 20px;
    border: transparent;
}

.button:focus {
    outline: none;
}

.button:hover {
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(29, 27, 76, 1) 0%, rgba(74, 172, 139, 1) 50%, rgba(29, 27, 76, 1) 100%);
}

/*----------------------------------------about-----------------------------------------------------------------*/
.about {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    position: relative;
}

.about-text-header {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0 40px;
}

.about-img-shadow {
    box-shadow: -10px 37px 110px -25px rgba(240, 227, 217, 1);
}

.about-img-container {
    position: relative;
}

.about-img {
    position: absolute;
    top: 22%;
    left: 13%;
    /*margin-top: -20px;*/
    /*margin-left: 100px;*/

}

.about-dots {
    position: absolute;
    top: 31%;
    left: 3%;
    z-index: -100;
}

.about-experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.about-experience-img {
    height: 350px;
    width: 96px;
}

.about-experience-text {
    background-color: #e8fff7;
    padding: 20px 10px;
    /*margin-top: 23px;*/
}

.about-experience-text-margin {
    margin-top: 46px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .about-img-shadow, .about-dots, .about-img-container {
        display: none;
    }

    /*.about-experience-text {*/
    /*padding: 25px;*/
    /*}*/
    .about-experience-text {
        /*margin-top: 20px;*/
    }

    /*.about-experience-text {*/
    /*padding: 17px;*/
    /*}*/
}

@media only screen and (min-width: 991px) {
    .about-experience-text-margin {
        margin-top: 13px;
    }
}


/*--------------------services--------------------*/


.services-wrapper {
    margin-bottom: 100px;
    /*box-sizing: border-box;*/
}

.services-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*box-sizing: border-box;*/

}

.services-item {
    /*width: 270px;*/
    width: 23%;
margin: 0 10px 50px 10px;
    /*margin-right: 20px;*/
    /*margin-bottom: 50px;*/
    padding: 50px 10px;
    box-shadow: -3px 23px 85px -25px rgba(111, 255, 206, 0.52);
}


.services-desc {
    margin: 30px 0;
}

.services-desc-margin {
    margin-top: 20px;
}

@media only screen and (min-width: 720px) {
    .services-desc {
        display: flex;
        justify-content: space-between;
    }

    .services-desc-margin {
        margin-top: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .services-item {
        width: 43%;
    }

    .text-common {
        font-size: 12px;
    }

    .text-main {
        font-size: 14px;
    }


}


/*---------------------------------benefits------------------------------------------*/
.benefits-wrapper {
    background-color: #fcf8f5;
    padding-bottom: 50px;
    position: relative;
}

.sections-icons {
    display: block;
    margin: auto;
    padding-top: 85px;
    width: 64px;
}

.benefits-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 62px -21px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

.benefits-item-number {
    font-family: 'Kanit', sans-serif;
    border-radius: 50%;
    padding: 10px 15px;
    background-color: #e8fff7;
    color: #1d1b4c;
    font-size: 20px;
    font-weight: 700;
    text-shadow: #6fffce 2px 2px;
}

.benefits-img-dots-1 {
    position: absolute;
    top: 31%;
    left: 25%;
}

.benefits-img-dots-2 {
    position: absolute;
    bottom: 12%;
    right: 25%;
}

.benefits-additional {
    margin-top: 100px;
}

.benefits-button {
    display: block;
    /*margin-top: 20px;*/
    margin: auto;
}

.benefits-additional-text {
    margin-bottom: 20px;
    text-align: center;
}

@media only screen and (min-width: 720px) {
    .benefits-additional {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .benefits-additional-text {
        margin-bottom: 0;
    }

    .benefits-button {
        margin: 0;
    }
}

/*----------------------------------------------preparation----------------------------------*/
.preparation {
    background-image: url("img/preparation_main.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;

}

.preparation-item {
    /*box-shadow: -3px 26px 88px -25px rgba(111, 255, 206, 0.52);*/
    box-shadow: 4px 4px 61px 9px rgba(111, 255, 206, 0.25);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 50px 0;
    text-align: center;
    background-color: white;
}

.preparation-item-middle-raw {
    margin-bottom: 80px;
}

.preparation-item-number {
    font-family: 'Kanit', sans-serif;
    color: #1d1b4c;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    text-shadow: #6fffce 2px 2px;

}

.preparation-img-dots-1 {
    position: absolute;
    top: 38%;
    left: 1%;
}

.preparation-img-dots-2 {
    position: absolute;
    bottom: -10%;
    right: 1%;
}

/*-------------------------------examination---------------------------------------------*/
.examination {
    margin-top: 200px;
    margin-bottom: 100px;

}

/*------------------------------footer---------------------------------------------*/
.footer {
    background-color: #1d1b4c;
    padding: 80px 80px 30px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;

}

.footer-item {
    display: flex;
    justify-content: space-between;
}

.footer-header {
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #bcbcc8;
    margin-bottom: 35px;
}

.footer-text {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    /*font-weight: bold;*/
    color: #bcbcc8;
    margin-bottom: 10px;
}

.footer-detail-text {
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    color: #bcbbc9;
    text-align: center;
}

.footer-detail-text-wrapper {
    margin-top: 50px;
    border-top: 1px solid #34335f;
    padding-top: 50px;
}

.scroll-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

.fa.fa-chevron-up.icon-to-top {
    color: #6fffce;
    font-size: 36px;
}

/*----------------------------------------modal----------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.closeModal {
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: #e8fff7;
    border: 2px solid #6fffce;
    padding: 3px 5px;
    color: #1d1b4c;
    font-size: 16px;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal-input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.modal-input:focus {
    outline: #6fffce;
}

.modal-submit-button {
    width: 100%;
    background-color: #6fffce;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    color: #1d1b4c;
    font-size: 14px;
    padding: 15px 20px;
    border: transparent;
}

.closeModal:focus, .modal-submit-button:focus {
    outline: none;
}

.closeModal:hover {
    transform: scale(1.2);

}

.modal-submit-button:hover {
    background: linear-gradient(90deg, rgba(29, 27, 76, 1) 0%, rgba(111, 255, 206, 1) 50%, rgba(29, 27, 76, 1) 100%);
}

.modal-input-wrapper {
    position: relative;
}

.modal-input-wrapper i {
    visibility: hidden;
    position: absolute;
    top: 22px;
    right: 10px;
}

.modal-input-wrapper.success input {
    border: 2px solid #6fffce;
}

.modal-input-wrapper.error input {
    border: 2px solid #e74c3c;
}

.modal-input-wrapper p {
    color: #e74c3c;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    visibility: hidden;
}

.modal-input-wrapper.error p {
    visibility: visible;
}

.modal-input-wrapper.success i.fa-check-circle {
    color: #6fffce;
    visibility: visible;
}

.modal-input-wrapper.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.modal-content-success-wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content-success {
    /*background-color: #fefefe;*/
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-image: url("img/modalSuccess.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.modal-content-success-text {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #1d1b4c;
    padding: 8% 0 40% 0;

}

/*-------------------------------------modal ends--------------------------------------------*/